<section class="gpt3__features section__padding">
  <div class="gpt3__features-title__container">
    <h2 class="gpt3__features-title">
      The Future is Now and You Just Need To Realize It. Step into Future Today
      & Make it Happen.
    </h2>
    <small>Request Early Access to Get Started</small>
  </div>
  <div class="gpt3__features-items__container">
    <div class="gpt3__fetures-item">
      <div class="gpt3__features-item__header">
        <div class="title-line"></div>
        <h5>Improving end distrusts instantly</h5>
      </div>
      <div class="gpt3__features-item__content">
        <p>
          From they fine john he give of rich he. They age and draw mrs like.
          Improving end distrusts may instantly was household applauded.
        </p>
      </div>
    </div>
    <div class="gpt3__fetures-item">
      <div class="gpt3__features-item__header">
        <div class="title-line"></div>
        <h5>Become the tended active</h5>
      </div>
      <div class="gpt3__features-item__content">
        <p>
          Considered sympathize ten uncommonly occasional assistance sufficient
          not. Letter of on become he tended active enable to.
        </p>
      </div>
    </div>
    <div class="gpt3__fetures-item">
      <div class="gpt3__features-item__header">
        <div class="title-line"></div>
        <h5>Message or am nothing</h5>
      </div>
      <div class="gpt3__features-item__content">
        <p>
          Led ask possible mistress relation elegance eat likewise debating. By
          message or am nothing amongst chiefly address.
        </p>
      </div>
    </div>
    <div class="gpt3__fetures-item">
      <div class="gpt3__features-item__header">
        <div class="title-line"></div>
        <h5>Really boy law county</h5>
      </div>
      <div class="gpt3__features-item__content">
        <p>
          Really boy law county she unable her sister. Feet you off its like
          like six. Among sex are leave law built now. In built table in an
          rapid blush.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .gpt3__features {
    display: flex;
  }

  .gpt3__features-title__container {
    flex: 1 1;
    display: flex;
    min-width: 430px;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    margin-right: 5rem;
  }

  .gpt3__features-title {
    font-size: 34px;
    line-height: 45px;
    font-weight: 700;
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gpt3__features-title__container small {
    margin-top: 34px;
    color: #ff8a71;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
  }

  .gpt3__features-items__container {
    flex: 2;
  }
  .gpt3__fetures-item {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    margin: 1rem;
  }
  .gpt3__features-item__header {
    flex: 1 1;
    max-width: 180px;
    margin-right: 2rem;
  }
  .gpt3__features-item__header h5 {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
  .gpt3__features-item__content {
    flex: 2;
  }
  .gpt3__features-item__content p {
    color: #81afdd;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
</style>
