<nav class="gpt3__navbar">
  <div class="gpt3__navbar-links">
    <a href="/" class="gpt3__navbar-links_logo">
      <img src="/img/logo.svg" alt="logo" />
    </a>
    <ul class="gpt3__navbar-links_container">
      <li class="gpt3__navbar-link"><a href="#home">Home</a></li>
      <li class="gpt3__navbar-link"><a href="#wgpt3">What is GPT?</a></li>
      <li class="gpt3__navbar-link"><a href="#posibility">Open AI</a></li>
      <li class="gpt3__navbar-link"><a href="#features">Case Studies</a></li>
      <li class="gpt3__navbar-link"><a href="#blog">Library</a></li>
    </ul>
  </div>
  <div class="gpt3__navbar-auth">
    <a href="">Sign in</a>
    <a href="">Sign up</a>
  </div>
</nav>

<style>
  .gpt3__navbar {
    display: flex;
    align-items: center;
    padding: 2rem 6rem;
    color: #fff;
  }

  .gpt3__navbar-links {
    display: flex;
    align-items: center;
    flex: 1;
  }
  .gpt3__navbar-links_logo img {
    width: 62.56px;
    height: 16.2px;
    margin-right: 2rem;
  }

  .gpt3__navbar-links_container {
    display: flex;
    align-items: center;
    list-style: none;
  }
  .gpt3__navbar-link a {
    margin: 1rem;
  }

  .gpt3__navbar-auth {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .gpt3__navbar-auth a {
    font-weight: 500;
  }
  .gpt3__navbar-link a:hover,
  .gpt3__navbar-auth a:hover {
    color: #fafafad0;
  }

  .gpt3__navbar-auth a:last-child {
    padding: 0.5rem 1rem;
    background-color: #ff4820;
    border-radius: 5px;
  }
</style>
