<section class="gpt3__possibility section__padding">
  <div class="gpt3__possibility-img__container">
    <img src="/img/possibility.png" alt="possibility illustration" />
  </div>
  <div class="gpt3__possibility-content">
    <small>Request Early Access to Get Started</small>
    <h2 class="gpt3__possibility-content__title">
      The possibilities are beyond your imagination
    </h2>
    <p class="gpt3__possibility-content__desc">
      Yet bed any for travelling assistance indulgence unpleasing. Not thoughts
      all exercise blessing. Indulgence way everything joy alteration boisterous
      the attachment. Party we years to order allow asked of.
    </p>
    <small>Request Early Access to Get Started</small>
  </div>
</section>
<style>
  .gpt3__possibility {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .gpt3__possibility-img__container {
    flex: 1 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
  }
  .gpt3__possibility-img__container img {
    width: 100%;
    height: 100%;
  }

  .gpt3__possibility-content {
    flex: 1 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
  }
  .gpt3__possibility-content small {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #71e5ff;
  }
  .gpt3__possibility-content small:last-child {
    color: #ff8a71;
  }
  .gpt3__possibility-content__title {
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0;
    margin-right: 1rem;
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gpt3__possibility-content__desc {
    color: #81afdd;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
  }
</style>
