<section class="gtp3__whatgp3">
  <div class="gtp3__whatgp3__header">
    <div class="gtp3__whatgp3__title">
      <div class="gtp3__whatgp3__title-line"></div>
      <h5>What is GPT-3</h5>
    </div>
    <p class="gtp3__whatgp3__header-desc">
      We so opinion friends me message as delight. Whole front do of plate heard
      oh ought. His defective nor convinced residence own. Connection has put
      impossible own apartments boisterous. At jointure ladyship an insisted so
      humanity he. Friendly bachelor entrance to on by.
    </p>
  </div>
  <div class="gtp3__whatgp3__content">
    <h3 class="gtp3__whatgp3__content-title">
      The possibilities are beyond your imagination
    </h3>
    <span>Explore The Library</span>
  </div>
  <div class="gtp3__whatgp3__Items-container">
    <div class="gtp3__whatgp3__item">
      <div class="gtp3__whatgp3__title">
        <div class="gtp3__whatgp3__title-line"></div>
        <h5>Chatbots</h5>
      </div>
      <p class="feature__item-desc">
        We so opinion friends me message as delight. Whole front do of plate
        heard oh ought.
      </p>
    </div>
    <div class="gtp3__whatgp3__item">
      <div class="gtp3__whatgp3__title">
        <div class="gtp3__whatgp3__title-line"></div>
        <h5>Knowledgebase</h5>
      </div>
      <p class="feature__item-desc">
        At jointure ladyship an insisted so humanity he. Friendly bachelor
        entrance to on by. As put impossible own apartments b
      </p>
    </div>
    <div class="gtp3__whatgp3__item">
      <div class="gtp3__whatgp3__title">
        <div class="gtp3__whatgp3__title-line"></div>
        <h5>Education</h5>
      </div>
      <p class="feature__item-desc">
        At jointure ladyship an insisted so humanity he. Friendly bachelor
        entrance to on by. As put impossible own apartments b
      </p>
    </div>
  </div>
</section>

<style>
  .gtp3__whatgp3 {
    display: flex;
    flex-direction: column;
    margin: 4rem 6rem;
    padding: 2rem;
    color: white;
    background-color: var(--color-footer);
    background: radial-gradient(
      circle at 30% -100%,
      #042c54 25%,
      rgba(4, 44, 84, 1) 85%,
      rgba(27, 120, 222, 1) 100%
    );
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .gtp3__whatgp3__header {
    display: flex;
    justify-content: space-between;
  }
  .gtp3__whatgp3__title-line {
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    margin-bottom: 0.25rem;
  }
  .gtp3__whatgp3__title {
    flex: 1;
  }
  .gtp3__whatgp3__title h5 {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: -0.04em;
    text-align: left;
  }
  .gtp3__whatgp3__header-desc {
    flex: 2;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #81afdd;
  }
  .gtp3__whatgp3__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0 2rem;
  }
  .gtp3__whatgp3__content-title {
    max-width: 510px;
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gtp3__whatgp3__content span {
    color: #ff8a71;
    line-height: 30px;
    font-weight: 500;
    cursor: pointer;
  }

  .gtp3__whatgp3__Items-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem;
  }
  .gtp3__whatgp3__item {
    display: unset;
    flex: 1 1;
    margin: 1rem;
    min-width: 210px;
  }
  .feature__item-desc {
    color: #81afdd;
    line-height: 30px;
  }
</style>
